<?xml version="1.0"?>
<!--
/**
 * jnodwell_TwitterFeed
 *
 * @category    TwitterFeed
 * @package     jnodwell_TwitterFeed
 * @copyright   Copyright (c) 2016 nodwell.net
 * @author      jennifer@nodwell.net
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="jnodwell_TwitterFeed::config" title="Twitter Feed" sortOrder="50"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>